{% extends 'base.html' %}
{% block content %}
    <section class="section-padding">
        <h2>About Me</h2>
        <ul>
            <li><b>Summary:</b> I'm a seasoned professional with over two decades of
                        hands-on experience in aviation ground operations, aircraft maintenance,
                        and office administration, backed by a strong leadership, safety compliance,
                        and operational efficiency.</li>

            <li><b>Professional Background:</b>
                <ol>
                    <li>
                        My career began with 21 years of distinguished service in the Indian Air Force,
                        where I served as an Aircraft Maintenance Technician (Armament) and
                        Loadmaster/Flight Gunner. I specialized in maintaining advanced weapon systems,
                        managing flight readiness, executing high-risk airdrop missions, and handling cargo
                        and troop transport operations. My commitment to precision, safety and mission
                        success earned me a reputation for reliability under pressure.
                    </li>

                    <li>
                        After transitioning to the corporate sector, I held a leadership role as Manager-Administration
                        at Laminaar Aviation Infotech, a global aviation software company. I successfully led facility
                        and office management, implemented streamlined workflow process, and contributed to
                        a high-performing, compliant, and collaborative work environment.
                    </li>

                    <li>
                        More recently, as Store In-Charge at Sobha Ltd., I managed end-to-end inventory and
                        logistics operations for large-scale construction projects. I optimized procurement,
                        material handling and vendor coordination, ensuring project timelines and quality
                        benchmarks were consistently met.
                    </li>

                    <li>
                        In addition to my core operations expertise, I have built a growing foundation
                        in Python programming, web development, and data analysis, completing certifications
                        from IITs, and platforms like IBM and Udemy. I'm driven by a passion for
                        continuous learning and am actively exploring opportunities that combine
                        my technical, operational, and administrative strengths.
                    </li>
                </ol>
            </li>
            <li><b>Key Skills:</b> ['Skill1, Skill2, Skill3, ...]</li>
            <li><b>Education:</b> [Your Education]</li>
        </ul>
    </section>
{% endblock %}
