{% extends 'base.html' %}
{% block content %}
    <section class="center">
        <h1>Hello, I'm  Vinod V V</h1>
        <p>From Air Force precision to building smart, user-focused digital tools.
            I create Python and web-based solutions with clean design, real-world utility,
            and a passion for continuous growth.</p>
        <a class="btn" href="{{ url_for('projects') }}">View My Projects</a>
        <a class="btn" href="{{ url_for('about') }}">Learn More About Me</a>
    </section>
{% endblock %}

