{% extends 'base.html' %}
{% block content %}
    <section class="section-padding">
        <h2>My Projects</h2>
        {% if projects %}
            <div class="projects-grid">
                {% for proj in projects %}
                    <div class="project-card">
                        <h3>{{ proj.title }}</h3>
                        <p>{{ proj.description }}</p>
                        <a href="{{ proj.repo_link }}" target="_blank">Repository</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No projects to display at the moment</p>
        {% endif %}
    </section>
{% endblock %}
